
@model IProjenFramework.MvcWebUI.Models.UserViewModel
@{
    ViewBag.Title = "User";
    Layout = null;
}

<div id="content">
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">

            @Html.Partial("~/Views/Form/FormMasterPartial.cshtml",
                new ViewDataDictionary {
                    { "Id", Model.User.Id},
                    { "url", "/User/DeleteUser"},
                    { "returnurl", "/Form/List/" + ViewBag.FormID },
                })

            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-8" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Kullanıcı Tanımlama</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <p class="lead">@Html.ValidationMessage("ValidationException")</p>
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("AddOrUpdateUser", "User", new { formId = ViewBag.FormID }, FormMethod.Post, new { @class = "smart-form", id = "mainform" }))
                            {
                                @*<form action="/Department/AddOrUpdateDepartment/@ViewBag.FormID" method="post" id="mainform" class="smart-form">*@
                                <fieldset>
                                    <div class="row">
                                        <label class="label col col-2">Email Adresi</label>
                                        <section class="col col-10">
                                            <label class="input">
                                                @*  <input type="text" name="Name" id="txtName" value="@Model.Department.Name">*@
                                                @Html.TextBoxFor(m => m.User.EmailAddress, new { type = "email", placeholder = "example@mail.ru" })
                                                @Html.ValidationMessageFor(model => model.User.EmailAddress, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                        @Html.HiddenFor(m => m.User.Id,new { id = "txtUserId" })
                                    </div>

                                    <div class="row">
                                        <label class="label col col-2">Kullanıcı Adı</label>
                                        <section class="col col-4">
                                            <label class="input">
                                                @Html.TextBoxFor(m => m.User.Name)
                                                @Html.ValidationMessageFor(model => model.User.Name, "", new { @class = "text-danger" })
                                            </label>
                                        </section>

                                        <label class="label col col-2">Kullanıcı Soyadı</label>
                                        <section class="col col-4">
                                            <label class="input">
                                                @Html.TextBoxFor(m => m.User.Surname)
                                                @Html.ValidationMessageFor(model => model.User.Surname, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <label class="label col col-2">Kullanıcı Ünvanı</label>
                                        <section class="col col-4">
                                            <label class="input">
                                                @Html.TextBoxFor(m => m.User.Title)
                                                @Html.ValidationMessageFor(model => model.User.Title, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>

                                @*</form>*@
                            }
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>



        </div>
        <!-- end row -->
    </section>

    @if (Model.User.Id > 0)
    {
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                        <h2>Default Tabs with border </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <ul id="myTab1" class="nav nav-tabs bordered">
                                <li class="active">
                                    <a href="#s1" data-toggle="tab"><i class="fa fa-fw fa-lg fa-gear"></i>Yetkiler</a>
                                </li>

                            </ul>
                            <div id="myTabContent1" class="tab-content padding-10">
                                <div class="tab-pane fade in active" id="s1">
                                    <div id="content">
                                        <!-- widget grid -->
                                        <section id="widget-grid" class="">
                                            <!-- row -->
                                            <div class="row">
                                                <!-- NEW WIDGET START -->
                                                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <table id="userright"></table>
                                                    <div id="pjquserright"></div>
                                                </article>
                                                <!-- WIDGET END -->
                                            </div>
                                            <!-- end row -->
                                        </section>
                                        <!-- end widget grid -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
        </div>
    }

</div>

<script src="~/Scripts/ProjectJs/forms/userFrm.js?v=@typeof(IProjenFramework.MvcWebUI.MvcApplication).Assembly.GetName().Version">
</script>