@model IProjenFramework.MvcWebUI.Models.CustomerViewModel

@{
    Layout = null;
}

<div id="content" class="d-table-row">
    <section id="widget-grid" class="">
        <div class="row">
            @Html.Partial("~/Views/Form/FormMasterPartial.cshtml",
                new ViewDataDictionary {
                    { "Id", Model.Customer.Id},
                    { "url", "/Customer/DeleteCustomer"},
                    { "returnurl", "/Form/List/" + ViewBag.FormID },
                })

            <article class="col-sm-12 col-md-12 col-lg-12" id="arForm">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false"
                     data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Firma Tanımlama</h2>
                    </header>

                    <div>
                        <div class="jarviswidget-editbox">
                            <p class="lead">@Html.ValidationMessage("ValidationException")</p>
                        </div>

                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("AddOrUpdateCustomer", "Customer", new { formId = ViewBag.FormID }, FormMethod.Post, new { @class = "smart-form", id = "mainform" }))
                            {
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-lg-6">
                                            <label class="label">Firma Adı</label>
                                            <label class="input">
                                                @Html.TextBoxFor(m => m.Customer.DisplayName)
                                                @Html.ValidationMessageFor(model => model.Customer.DisplayName, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                        <section class="col col-lg-6">
                                            <label class="label">Ticari Ünvan</label>
                                            <label class="input">
                                                @Html.TextBoxFor(m => m.Customer.CommercialTitle)
                                                @Html.ValidationMessageFor(model => model.Customer.CommercialTitle, "", new { @class = "text-danger" })
                                            </label>
                                        </section>

                                        @Html.HiddenFor(m => m.Customer.Id, new { id = "txtCustomerId" })
                                    </div>

                                    <div class="row">
                                        <section class="col col-lg-3">
                                            <label class="label">Vergi Dairesi</label>
                                            <label class="input">
                                                @Html.TextBoxFor(m => m.Customer.TaxOffice)
                                                @Html.ValidationMessageFor(model => model.Customer.TaxOffice, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                        <section class="col col-lg-3">
                                            <label class="label">Vergi No</label>
                                            <label class="input">
                                                @Html.TextBoxFor(m => m.Customer.TaxNumber)
                                                @Html.ValidationMessageFor(model => model.Customer.TaxNumber, "", new { @class = "text-danger" })
                                            </label>
                                        </section>

                                        <section class="col col-lg-3">
                                            <label class="label">TCKN</label>
                                            <label class="input">
                                                @Html.TextBoxFor(m => m.Customer.Identifier)
                                                @Html.ValidationMessageFor(model => model.Customer.Identifier, "", new { @class = "text-danger" })
                                            </label>
                                        </section>

                                        <section class="col col-lg-3">
                                            <label class="label">Web</label>
                                            <label class="input">
                                                @Html.TextBoxFor(m => m.Customer.WebAddress)
                                                @Html.ValidationMessageFor(model => model.Customer.WebAddress, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-lg-3">
                                            <label class="label">Telefon</label>
                                            <label class="input">
                                                @Html.TextBoxFor(m => m.Customer.TelephoneNumber)
                                                @Html.ValidationMessageFor(model => model.Customer.TelephoneNumber, "", new { @class = "text-danger" })
                                            </label>
                                        </section>

                                        <section class="col col-lg-3">
                                            <label class="label">Fax</label>
                                            <label class="input">
                                                @Html.TextBoxFor(m => m.Customer.FaxNumber)
                                                @Html.ValidationMessageFor(model => model.Customer.FaxNumber, "", new { @class = "text-danger" })
                                            </label>
                                        </section>

                                        <section class="col col-lg-6">
                                            <label class="label">Email</label>
                                            <label class="input">
                                                @Html.TextBoxFor(m => m.Customer.EmailAddress)
                                                @Html.ValidationMessageFor(model => model.Customer.EmailAddress, "", new { @class = "text-danger" })
                                            </label>
                                        </section>

                                    </div>
                                </fieldset>
                            }
                        </div>

                    </div>

                </div>
            </article>

        </div>
    </section>

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

                <div>
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body">
                        <ul id="myTab1" class="nav nav-tabs bordered">
                            <li class="active">
                                <a href="#s1" data-toggle="tab"><i class="fa fa-fw fa-lg fa-pencil"></i>Adresler</a>
                            </li>
                            <li>
                                <a href="#s2" data-toggle="tab"><i class="fa fa-fw fa-lg fa-pencil"></i>Kontaklar</a>
                            </li>
                            <li>
                                <a href="#s3" data-toggle="tab"><i class="fa fa-fw fa-lg fa-file"></i>Dosyalar</a>
                            </li>
                            <li>
                                <a href="#s4" data-toggle="tab"><i class="fa fa-fw fa-lg fa-history"></i>Tarihçe</a>
                            </li>
                        </ul>
                        <div id="myTabContent1" class="tab-content padding-10">
                            <div class="tab-pane fade in active" id="s1">
                                <div id="content">
                                    <section id="widget-grid" class="">
                                        <div class="row">
                                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <table id="jqAddress"></table>
                                                <div id="pjqAddress"></div>
                                            </article>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="s2">
                                <div id="content">
                                    <section id="widget-grid" class="">
                                        <div class="row">
                                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <table id="jqContacts"></table>
                                                <div id="pjqContacts"></div>
                                            </article>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="s3">
                                <div id="content">
                                    <section id="widget-grid" class="">
                                        <div class="row">
                                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <table id="jqFiles"></table>
                                                <div id="pjqFiles"></div>
                                            </article>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="s3">
                                <div id="content">
                                    <section id="widget-grid" class="">
                                        <div class="row">
                                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <table id="jqHistories"></table>
                                                <div id="pjqHistories"></div>
                                            </article>
                                        </div>
                                    </section>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
