@using IProjenFramework.MvcWebUI.ExtensionMethods

   <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }

    <nav>
        
        <ul>
            <li class="@Html.RouteIf("index", "active")">
                <a href="@Url.Action("index", "home")" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
            </li>
            <li class="@Html.RouteIf("inbox", "active")">
                <a href="@Url.Action("inbox", "home")"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Inbox</span><span class="badge pull-right inbox-badge">14</span></a>
            </li>
            <li class="@Html.RouteIf("List", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Kullanıcılar</span></a>
                <ul>
                    <li class="@Html.RouteIf("List/1", "active")">
                        <a href="@Url.Action("List", "Form", new { formid=1 })">Departman Tanımlama</a>
                    </li>
                    <li class="@Html.RouteIf("List/3", "active")">
                        <a href="@Url.Action("List", "Form", new { formid = 3 })">Pozisyon Tanımlama</a>
                    </li>
                    <li class="@Html.RouteIf("List/5", "active")">
                        <a href="@Url.Action("List", "Form", new { formid = 5 })">Kullanıcı Tanımlama</a>
                    </li>
                    <li class="">
                        <a href="#"><i class="fa fa-comments"></i>Yetkilendirme</a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("List", "Form", new { formid = 2 })">Departman Yetkileri</a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("List", "Form", new { formid = 4 })">Pozisyon Yetkileri</a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("List", "Form", new { formid = 8 })">Kullanıcı Yetkileri</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="@Html.RouteIf("List", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Firmalar</span></a>
                <ul>
                    <li class="@Html.RouteIf("List/9", "active")">
                        <a href="@Url.Action("List", "Form", new { formid = 9 })">Firma Tanımlama</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->